body {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
		sans-serif;
	background-image: url("background.jpg");
	background-size: cover;
	font-weight: bold;
	color: white;
	text-align: center;
}

.container {
	width: 25%;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1 {
	color: goldenrod;
}

#message-el {
	font-style: italic;
}

button {
	color: #016f32;
	width: 150px;
	background: goldenrod;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	margin-bottom: 2px;
	margin-top: 2px;
}
