.form-signin, .form-registration{
    max-width: 330px;
    padding: 15px;
  }
  
  .form-signin .form-floating:focus-within, .form-registration{
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
  }