  html, body{
    margin:0px;
    background-color: #606060;
  }

  .btn-circle.btn-xl {
      width: 80px;
      height: 80px;
      padding: auto;
      font-size: 24px;
      line-height: 1.33;
      border-radius: 35px;
  }
  .bet{
    width: 400px;
  }
